* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cuprum', sans-serif;
}
.container{
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.page.title{
    padding-top: 5vh;
    font-size: 8vh;
    text-align: center;
    

}
.page.text{
    width: 50vw;
    height: 50vh;
    font-size: 5vh;
    display: flex;
    padding-top: 8vh;
    text-align: center;
}

.btn{
    font-family:'Cuprum', sans-serif;
    text-decoration: none;
    cursor: pointer;
    padding: 1vh 1vw;  
    text-align: center;
}
